// Place all the styles related to the NewYorkTimes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title {
  text-align: center;
  color: white;
  opacity: 0.8;
  font-size: 36px;
  font-style: italic;
}
dl {
  height: 400px;
  width: 800px;
  border: solid 2px orange;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  opacity: 0.8;
  margin-left: 112px;
  margin-top: 0px;
}
dt {
  font-size: 24px;
}
#events-form {
  height: 60px;
  width: 300px;
  background-color: white;
  opacity: 0.8;
  margin-bottom: 25px;
  margin-left: 115px;
  border: solid 2px orange;
}
.submit_btn {
  margin-left: 110px;
  margin-top: 10px;
}
