// Place all the styles related to the NewYorkTimes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #wrapper {
//   width: 100%;
//   margin-left: 100px;
//   margin-right: auto;
// }

#title {
  text-align: center;
  color: white;
  opacity: 0.8;
  font-size: 36px;
  font-style: italic;
}
dl {
  height: 400px;
  width: 800px;
  border: solid 2px orange;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  opacity: 0.8;
  margin-left: 112px;
  margin-top: 0px;
}
dt {
  font-size: 24px;
}
.styled_select select{
  height: 25px;
  width: 100px;
  font-size: 14px;
}
#events-form {
  height: 65px;
  width: 350px;
  background-color: white;
  opacity: 0.8;
  margin-bottom: 25px;
  margin-left: 115px;
  border: solid 2px orange;
}

.submit_btn {
  margin-left: 130px;
  margin-top: 5px;
}
#selection-text{
  margin-left: 35px;
}
